[submodule "phabricator/libphutil"]
	path = phabricator/libphutil
	url = https://github.com/phacility/libphutil.git
[submodule "phabricator/arcanist"]
	path = phabricator/arcanist
	url = https://github.com/phacility/arcanist.git
[submodule "blacken"]
	path = blacken
	url = https://github.com/proofit404/blacken/
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
